In this notebook we take a deeper look into the columnsof the data to see how we can use it best for our prediction.

import pandas as pd

In [4]:
data = pd.read_csv('train_values.csv')
target = pd.read_csv('train_labels.csv')

In [7]:
data = pd.merge(data, target, how='inner')

In [8]:
data.head()

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,heart_disease_present
0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0,0
1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0,0
2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1,1
3,l2xjde,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0,1
4,oyt4ek,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0,0

Let's take a deeper look into column 'Resting Blood Pressure'

In [34]:
data.groupby(['resting_blood_pressure', 'heart_disease_present']).count().iloc[:,0].reset_index()

    resting_blood_pressure  heart_disease_present  patient_id
0                       94                      0           1
1                      100                      0           1
2                      100                      1           1
3                      102                      0           1
4                      105                      0           1
5                      106                      0           1
6                      108                      0           4
7                      108                      1           1
8                      110                      0           5
9                      110                      1           6
10                     112                      0           5
11                     112                      1           3
12                     115                      0           2
13                     117                      1           1
14                     118                      0           2
15                     118                      1           2
16                     120                      0          13
17                     120                      1           8
18                     122                      0           1
19                     124                      0           2
20                     124                      1           3
21                     125                      0           3
22                     125                      1           4
23                     126                      1           2
24                     128                      0           4
25                     128                      1           4
26                     130                      0          15
27                     130                      1          11
28                     132                      0           1
29                     132                      1           2
30                     134                      0           1
31                     134                      1           1
32                     135                      0           4
33                     136                      0           1
34                     136                      1           1
35                     138                      0           1
36                     138                      1           2
37                     140                      0          13
38                     140                      1           9
39                     142                      0           1
40                     142                      1           1
41                     144                      1           1
42                     145                      0           1
43                     145                      1           3
44                     150                      0           5
45                     150                      1           5
46                     152                      0           1
47                     152                      1           1
48                     155                      0           1
49                     156                      0           1
50                     160                      0           5
51                     160                      1           4
52                     170                      1           1
53                     172                      0           1
54                     178                      0           1
55                     178                      1           1
56                     180                      0           1
57                     180                      1           2