## Reading the data

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('train_values.csv')
target = pd.read_csv('train_labels.csv')

In [3]:
df = pd.merge(data, target, how='inner')

In [15]:
df.shape

(180, 15)

In [5]:
df.drop(labels='patient_id', axis=1, inplace=True)

In [7]:
df = pd.get_dummies(df, drop_first=True)

In [8]:
df_Y = df['heart_disease_present']
df_X = df.drop('heart_disease_present', axis=1)

In [16]:
df.head()

,slope_of_peak_exercise_st_segment,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,heart_disease_present,thal_normal,thal_reversible_defect
0,1,128,2,0,0,2,308,0.0,1,45,170,0,0,1,0
1,2,110,3,0,0,0,214,1.6,0,54,158,0,0,1,0
2,1,125,4,3,0,2,304,0.0,1,77,162,1,1,1,0
3,1,152,4,0,0,0,223,0.0,1,40,181,0,1,0,1
4,3,178,1,0,0,2,270,4.2,1,59,145,0,0,0,1

In [17]:
df_X.head()

,slope_of_peak_exercise_st_segment,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,thal_normal,thal_reversible_defect
0,1,128,2,0,0,2,308,0.0,1,45,170,0,1,0
1,2,110,3,0,0,0,214,1.6,0,54,158,0,1,0
2,1,125,4,3,0,2,304,0.0,1,77,162,1,1,0
3,1,152,4,0,0,0,223,0.0,1,40,181,0,0,1
4,3,178,1,0,0,2,270,4.2,1,59,145,0,0,1

In [9]:
#from sklearn.feature_selection import SelectKBest
#from sklearn.feature_selection import chi2

In [14]:
#X_new = SelectKBest(chi2, k=8).fit_transform(df_X, df_Y)

array([[  2.,   0., 308., ...,   0.,   1.,   0.],
       [  3.,   0., 214., ...,   0.,   1.,   0.],
       [  4.,   3., 304., ...,   1.,   1.,   0.],
       ...,
       [  3.,   0., 309., ...,   1.,   0.,   1.],
       [  3.,   2., 255., ...,   0.,   1.,   0.],
       [  3.,   1., 201., ...,   0.,   1.,   0.]])

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
rfc = RandomForestClassifier(n_estimators=100)

In [20]:
rfc.fit(df_X, df_Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [27]:
rfc.feature_importances_

array([0.04760157, 0.06749308, 0.10666293, 0.09813332, 0.01048334,
       0.02032717, 0.08583005, 0.10834624, 0.03244105, 0.08800785,
       0.10539725, 0.05548998, 0.08071779, 0.09306837])

In [37]:
from toolstack import preprocessing

ModuleNotFoundError: No module named 'toolstack'

In [28]:
f_imp = pd.DataFrame(rfc.feature_importances_)

In [43]:
f_imp

           0  1
0   0.047602  a
1   0.067493  a
2   0.106663  a
3   0.098133  a
4   0.010483  a
5   0.020327  a
6   0.085830  a
7   0.108346  a
8   0.032441  a
9   0.088008  a
10  0.105397  a
11  0.055490  a
12  0.080718  a
13  0.093068  a

In [57]:
for i in range(0, (f_imp.shape[0]-1)):
    f_imp['1'][i] = df_X.columns[i]

C:\Users\Anagha Rumade\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [58]:
f_imp

           0                                     1
0   0.047602     slope_of_peak_exercise_st_segment
1   0.067493                resting_blood_pressure
2   0.106663                       chest_pain_type
3   0.098133                     num_major_vessels
4   0.010483  fasting_blood_sugar_gt_120_mg_per_dl
5   0.020327                   resting_ekg_results
6   0.085830           serum_cholesterol_mg_per_dl
7   0.108346              oldpeak_eq_st_depression
8   0.032441                                   sex
9   0.088008                                   age
10  0.105397               max_heart_rate_achieved
11  0.055490               exercise_induced_angina
12  0.080718                           thal_normal
13  0.093068                thal_reversible_defect

In [76]:
cols = []
for i in range(8):
    cols.append(f_imp.sort_values(by=[0], ascending=False)['1'][i])

In [77]:
cols

['slope_of_peak_exercise_st_segment',
 'resting_blood_pressure',
 'chest_pain_type',
 'num_major_vessels',
 'fasting_blood_sugar_gt_120_mg_per_dl',
 'resting_ekg_results',
 'serum_cholesterol_mg_per_dl',
 'oldpeak_eq_st_depression']

In [79]:
df[cols].head()

,slope_of_peak_exercise_st_segment,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression
0,1,128,2,0,0,2,308,0.0
1,2,110,3,0,0,0,214,1.6
2,1,125,4,3,0,2,304,0.0
3,1,152,4,0,0,0,223,0.0
4,3,178,1,0,0,2,270,4.2

In [83]:
test_data = pd.read_csv('test_values.csv')

In [84]:
test_X = test_data[cols]

In [86]:
rfc.fit(df_X[cols], df_Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [87]:
y_pred = rfc.predict_proba(test_X)

In [88]:
submission = pd.DataFrame()
submission['patient_id'] = test_data['patient_id']
submission['heart_disease_present'] = y_pred[:,1]
submission.to_csv('rough_feat_sel.csv', index=False)